body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
    box-shadow: 5px 5px ;   
}
thead {
    background-color: gray;
    color: white;
    font-weight: bolder;
    font-size: larger;
}
th {
    padding: 0px 5px 0px 5px;
}
th.sort {
    cursor: pointer;
}
th.sort[dir=ASC] {
    
}
tbody.overview td {
    text-align: center;
    vertical-align: top;
}
tbody td.checked {
    text-align: center;
}
.checked img {
    width: 20px;
}
tbody tr:nth-child(even) {
    background: #CCC
}
tbody tr:nth-child(odd) {
    background: #FFF
}

tfoot {
    background-color: gray;
}
tfoot td {
    padding: 5px 0px 5px 0px;
}
tfoot td.checked {
    text-align: center;
}
tfoot.overview td{
    background-color: lightskyblue;
    font-weight: bold;
    text-align: center;
}
tfoot.overview td.freeCapa {
    background-color: lightgreen;
}
tfoot.overview td.exhausted {
    background-color: lightcoral;

}
button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 12px;
    font-weight: 900;
    padding: 10px;
    background-color: #2D38DB;
    border: solid #0059A0 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
button:hover {
    background: #3D94F6;
    border: solid #000000 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
input[type=text] {
    border-radius: 10px;
    font-family: Arial;
    font-size: 12px;
    padding: 10px;
}
input[type=date] {
    border-radius: 10px;
    font-family: Arial;
    font-size: 12px;
    padding: 10px;
}
 